.tabla::-webkit-scrollbar {
  width: 6px;
  margin-right: -3px;
}
.tabla::-webkit-scrollbar-track {
  display: none;
}

.tabla::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #46d0f7;
}
.tabla:hover{
  overflow-y: scroll;
  width:calc(100% - 20px);
}
.tabla {
  overflow-y: hidden;
    height: 80vh;
    margin: 1em;
    width: calc(100% + 0);
    font-size: 0.8em;
    margin-top: 3em;
    margin-bottom: 3em;
    min-width: 80%;
    ul:hover{
      font-weight: bold;
    }
  ul.abierto:not(.tablaHeader){
      height: fit-content;
      li{
        max-height: fit-content;
      }
    }
  ul{ 
    display: grid;
    margin: 0;
    padding: 0;
    align-items: center;
    border-bottom: 1px solid lightgray;
    grid-template-columns: repeat(23, 1fr);
    li {
      list-style: none;
      text-align: center;
      max-height: 6em;
      max-width: 8em;
      overflow-y: auto;
    }
    li::-webkit-scrollbar {
      display: none;
    }
  }
  .tablaHeader {
    background-color: #46d0f7;
    color: white;
    position: fixed;
    margin-right: inherit;
    margin-top: -2.4em;
    font-weight: bold;
    border-bottom: none;
  }
  .even {
    background-color: white;
  }
  .odd {
    background-color: aliceblue;
    border-right: 1px solid lightgray;
  }
}