@font-face {
  font-family: inspira;
  // src: url("Inspira.ttf"); //para codesandbox
  src: url("./assets/Inspira.ttf"); //para vscode
}
html {
  font-size: 15px;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  font-size: 15px !important;
  line-height: 1.1em !important;
  font-family: "inspira", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "inspira", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

* {
  box-sizing: border-box;
}
a {
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  text-decoration: none;
}

/* Colors for theme */
// $primary: #46d0f7; //chinguEMR
// $primary: #57acf1; //gehrsxtra
// $primary: #54c8ff; //semantic blue button
$primary: #4444e5; //semantic linkedin button
// $secondary: #00d4ff;
$secondary: #54c8ff;
// $grayed: #3a5f81;
$grayed: #c5d0da;

:export {
  primary: $primary;
  secondary: $secondary;
  grayed: $grayed;
}
